/project/finalstt.data/finalstt.data/target/
/proj.old/finalstt.data/finalstt.data/target/
/finalsched/finalsched.data/target/
/finalsched.copy/finalsched.data/target/
/finalsched/finalsched.model/target/
logs/
/finalsched/finalsched.io/target/
/finalsched/model/target/
/finalsched/io/target/
/finalsched/data/target/
/scheduler/data/target/
/scheduler/io/target/
/scheduler/model/target/